/* HEADER - Long */
/* ====================================================== */
.header {
  width: 100%;
  height: var(--height-header);
  transition: transform 0.3s;
  position: relative;
  z-index: 9999;
}
.sticky {
  position: fixed;
  box-shadow: rgba(var(--color-primary-rgb), 0.18) 0px 4px 16px;
  animation: slide-down 0.3s;
}

.sticky ~ main .carousel-section {
  padding: var(--height-header) 0 0;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header .navbar {
  width: 100%;
  padding: 0;
  height: 100%;
  /* transition: all 0.3s; */
}

.nav_box {
  z-index: 1;
  width: 100%;
  /* transition: all 0.3s; */
}

.nav_box > div {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar_mobile > li {
  cursor: pointer;
}

.header .navbar > div:first-child {
  height: 100%;
}

.header .navbar > div:last-child {
  box-shadow: rgba(var(--color-primary-rgb), 0.18) 0px 4px 16px;
  /* transition: all 0.3s; */
}

.header .header__logo,
.header .navbar-nav .nav-link.active,
.header .navbar-nav .show > .nav-link,
.header .navbar-brand:focus,
.header .navbar-brand:hover {
  color: var(--color-primary);
}

.header .dropdown-item.active,
.header .dropdown-item:active {
  background-color: var(--color-primary);
}

.header .nav-link {
  display: inline-block;
  transition: all 0.3s;
}

.header .nav-link:focus,
.header .nav-link:hover {
  color: var(--color-primary);
}

.header .nav-link,
.header li .dropdown-item {
  position: relative;
}

.header .nav-link::before,
.header li .dropdown-item::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: all 0.3s;
}

.header .nav-link:hover::before,
.header li .dropdown-item:hover::before {
  width: 100%;
}

/* CAROUSEL USER - Long */
/* ====================================================== */
.carousel-section {
  padding: 0;
}
.carousel-section .carousel,
.carousel-section .carousel-inner,
.carousel-section .carousel-item {
  max-height: 80vh;
}

.filter1::before,
.filter2::before,
.filter3::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: soft-light;
  opacity: 0.4;
  background-image: -webkit-linear-gradient(
    to bottom right,
    rgba(32, 201, 151, 1) 10%,
    rgba(245, 54, 38, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(32, 201, 151, 1) 10%,
    rgba(245, 54, 38, 1)
  );
}
.filter1 {
  position: relative;
  -webkit-filter: contrast(130%) brightness(50%) saturate(96%) sepia(3%)
    grayscale(20%);
  filter: contrast(130%) brightness(60%) saturate(96%) sepia(3%) grayscale(20%);
}
.filter2 {
  position: relative;
  -webkit-filter: contrast(110%) brightness(80%) saturate(96%) sepia(3%)
    grayscale(20%);
  filter: contrast(110%) brightness(80%) saturate(96%) sepia(3%) grayscale(20%);
}
.filter3 {
  position: relative;
  -webkit-filter: contrast(110%) brightness(90%) sepia(10%) grayscale(10%);
  filter: contrast(110%) brightness(90%) sepia(10%) grayscale(10%);
}
.filter4 {
  position: relative;
  -webkit-filter: contrast(130%) brightness(50%) saturate(96%) sepia(3%)
    grayscale(20%);
  filter: contrast(150%) brightness(80%) saturate(114%) sepia(3%) grayscale(65%)
    hue-rotate(333deg);
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target] {
  background-color: white;
}

[data-bs-theme="dark"] .carousel .carousel-control-next-icon,
[data-bs-theme="dark"] .carousel .carousel-control-prev-icon {
  filter: unset;
}

.carousel-section-title {
  color: white;
  font-size: 5vw;
  font-weight: 700;
}

.carousel-section-desc {
  color: white;
  font-size: 2vw;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SERVICES - Long */
/* ====================================================== */
.service_icon {
  --wh: 1.7rem;
  width: var(--wh);
  height: var(--wh);
  border-radius: 50%;
  background-color: var(--color-bg-service_icon);
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_icon i {
  color: var(--color-primary);
}

.services_img img {
  width: 100%;
}

.services_img {
  overflow: hidden;
  border-radius: 1.5rem;
}

/* NUTRITION - Long */
/* ====================================================== */
.nutrition .modal-content {
  overflow: hidden;
  border-radius: 1rem;
}

.modal-dialog {
  max-width: unset;
}

.nutrition_video {
  display: flex;
  justify-content: center;
  position: relative;
}

.nutrition_img {
  width: 80%;
}

.nutrition_img img {
  width: 100%;
  border-radius: 1rem;
}

.nutrition_title p {
  max-width: 80%;
  margin: 0 auto;
}

.video-play-icon {
  --wh: 4rem;
  outline: none;
  border: none;
  background: #fff;
  width: var(--wh);
  height: var(--wh);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-play-icon i {
  font-size: 1.5rem;
  color: var(--color-primary);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--color-primary-rgb), 16%),
      0 0 0 10px rgba(var(--color-primary-rgb), 25%),
      0 0 0 20px rgba(var(--color-primary-rgb), 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(var(--color-primary-rgb), 25%),
      0 0 0 20px rgba(var(--color-primary-rgb), 25%),
      0 0 0 40px rgb(50 100 245 / 0%);
  }
}

/* BACK TO TOP - Long*/
/* ====================================================== */
.backToTop {
  --wh: 3rem;
  width: var(--wh);
  height: var(--wh);
  background-color: #20c997;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 110%;
  right: 2rem;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.17, 1.49, 0.28, 0.98);
  z-index: 999;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 18px 0px;
}

.backToTop i {
  color: var(--white);
}

.backToTop.showbtt {
  bottom: 2rem;
}

/* RIGHT SIDEBAR - Long */
/* ====================================================== */
.right_sidebar {
  width: 90px;
  position: fixed;
  z-index: 2;
  right: 0px;
  margin-top: 8rem;
}

.right_sidebar-content {
  background: #0d1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.right_sidebar-btns > a {
  border-bottom: 1px solid #41414d;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_sidebar-btns a {
  color: #e6ebff;
  opacity: 0.6;
  text-align: center;
}
