[data-bs-theme="light"] {
  /* nền sáng */
  --color-bg-body: #f8f9fa;

  --color-text-1-bgInLight: #212529;
  --color-text-2-bgInLight: #212529cc;
  --color-text-2-bgInDark: rgb(33, 37, 41);

  --color-section: #fff;

  --color-dot-testimonials: #000000a3;

  --color-bg-plan_item: #fff;

  --color-bg-service_icon: #161616;

  --box-shadow1: rgba(149, 157, 165, 0.2) 0px 2px 24px;
}
